{{!< ../default}}
{{> nav}}
<main id="content" class="container">
    {{> flash}}
    <div class="row">
        <div class="column">
            <h1>{{name}}</h1>
            <form method="POST" action="/flags/{{id}}" id="create-flag">
            
                <dl class="form-group">
                    <dt class="input-label">
                        <label for="description">Description (optional)</label>
                    </dt>
                    <dd>
                        <input id="flag-description" class="form-control" name="description" type="text" value={{description}}>
                        <p class="note">A short description to help others understand what this feature is.</p>
                    </dd>
                </dl>

                <dl class="form-group">
                    <dd>
                        <input type="checkbox" id="active" name="active" {{boolToCheckbox active}}>
                        <label for="active" class="input-label label-inline">Flag active</label>
                        <p class="note">A global kill switch, if this is unchecked then no one will have access.</p>
                    </dd>
                </dl>

                <dl class="form-group">
                    <dt class="input-label">
                        <label for="populationPercentage">Population Percentage (optional)</label>
                    </dt>
                    <dd>
                        <input id="population" class="form-control" name="population_percentage" type="number" min="0" step="1" max="100" value={{population_percentage}} style="max-width: 10rem;">
                        <p class="note">Incrementally roll out to a higher percentage of users as you desire. Set to 0 to turn this feature off.</p>
                    </dd>
                    <dd class="error" hidden>
                        Must be a number between 0-100.
                    </dd>
                </dl>

                <button id="edit-flag-btn" type="submit">Edit flag</button>
            </form>

            <div>
                <h2 class="inline">Groups with access</h2>
                <a class="button float-right" href="/flags/{{id}}/groups/new">Grant a group access</a>
                {{#if groups}}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th class="table-right">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each groups}}
                            <tr>
                                <td><a href="/groups/{{id}}">{{name}}</a></td>
                                <td class="table-right">
                                    <a href="#">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
                {{else}}
                <center>
                    <p>No groups have been granted access to this feature</p>
                </center>
                {{/if}}
            </div>
        </div>
    </div>
</main>

<script src="/static/flags/edit.js"></script>